:root {
    --background: #c1e1d3;
    --light: #89c59a;
    --accent: #0fa6d0;
    --text1: #328f73;
    --text2: black;
    --top1: #bbfff5;
    --top2: #26a390;
    --border: black;
    --hover: #00000061;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    background-image: url("https://i.ibb.co/M7WhPv9/Screenshot-2024-08-07-130530.png");
    color: var(--text2);
}

body {
    border: solid 2px var(--border);
    border-radius: 8px;
    background-color: var(--background);
    width: 90%;
    height: 80%;
    margin: 2vh ;
}

.top-part {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(var(--top1), var(--top2));
    border: solid 1px var(--border);
    border-radius: 4px 4px 0 0;
}

.top-buttons {
    width: 50px;
    padding: 0;
    display: flex;
    justify-content: right;
}

.top-button {
    padding: 0 3px;
    margin: 0;
    border: solid 1px var(--border);

}

.top-button-min {
    background: linear-gradient(#bbffbb, #00ff00);
}

.top-button-max {
    background: linear-gradient(#f8ffbf, #ffff00);
}

.top-button-close {
    background: linear-gradient(#ffbbbb, #ff0000);
    border-top-right-radius: 4px;
}

.color-buttons {
    border: solid 1px var(--border);
    display: flex;
    flex-wrap: wrap;

}

.color-button {
    border: solid 1px var(--border);
    padding: 0 10px;
    margin: 0;
}

.color-button:hover {
    background-color: var(--hover);
    cursor: pointer;
}

footer {
    background-color: var(--light);
    border-top: solid 1px var(--text1);
    position:fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 8vh;
    width: 100%;
    display: flex;
    gap: 5px;
}

#footer-roki-logo {
    height: 110%;
    margin-top: 0.5vh;
}

#footer-text-box {
    background-color: var(--background);
    padding: 0;
    width: 30%;
    border: solid 1px var(--text1);
    align-items: center;
}

#footer-text-box p {
    color:var(--text1);
    padding: 0;
    font-size: 120%;
    margin: auto;
}

.socials {
    height: 85%;
    margin-top: 0.1%;
    cursor: pointer
}

.socials:hover {
    background-color: var(--background);
}